/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #6C63FF;
    --secondColor: #B7B3B3;
}

body {
    font-family:  'Montserrat';
    color: var(--secondColor);
    text-align: center;
}

a {
    text-decoration: none;
}


li {
    list-style-type: none;
    font-weight: bold;
}

li a {
    color: black;
    display: block;
}

.container {
    max-width: 87.5rem;
    margin: 0 auto;
    width: 90%;
}

h1,
h2,
h3 {
    color: black;
    padding: 1.5rem 0;
}

section {
    margin: 5rem 0;
}

/* Top Header */

.top-header-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    position: relative;
}

.top-header-menu{
    position: absolute;
    right: 0;
    top: 80px;
    width: 100%;
    text-align: right;
    max-height: 0;
    overflow: hidden;
    background-color: white;
    transition: max-height .5s;
}

.top-header-menu  li  {
    padding: 1rem;
}

.top-header-menu div {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.btn {
    padding: .3rem 1rem;
    border: .5px solid var(--secondColor);
}

.btn-destaque {
    background-color: var(--primaryColor);
    color: white;
}

.hidden {
    display: none;
}


/* burguer */

.burguer-menu {
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: black;
    position: relative;
}

.burguer-menu::after,
.burguer-menu::before {
    content: "";
    width: 24px;
    height: 2px;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 0;
}

.burguer-menu::after {
    transform: translateY(8px);
    background-color: red;
}
.burguer-menu::before {
    transform: translateY(-8px);
    background-color: blue;
}

.menu-burguer {
    height: 34px;
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}

.checkbox:checked ~ .top-header-menu {
    max-height: 100vh;
}

.checkbox:focus-visible + .menu-burguer {
    outline: 2px solid black;
}

.top-header-menu:focus-within {
    max-height: 100vh;
}

.checkbox:checked .menu-burguer + .burguer-menu {
    transform: rotate(45deg);
}

/* GRID */

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5;
}

.mo-12 {
    grid-column: span 12;
}

/* Hero banner */

.hero-banner div > p  {
    margin: 2rem 0;
}

.hero-banner div {
    margin-bottom: 2rem;
}

/* HowItWorks */

.cards-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 2.5rem;
}

.cards article {
    display: flex;
    flex-direction: column;
    
}

.linha {
    position: relative;
    margin-bottom: .8rem;
}

.linha::before {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--secondColor);
    position: absolute;
    bottom: 0;
    left: 48%;
}

/* real time */

.real-time a {
    color: var(--primaryColor);
    margin-top: 1rem;
    display: inline-block;
    font-weight: bold;
}

/* WeAre */

.weAre-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.linha .img-e {
    height: 30px;
}

.linha .img-sandpay {
    width: 60px;
}

.weAre-cardsBox article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: span 12;
    margin: 1rem 0;
}

/* Peaple Are */

.pealple-are {
    background-color: var(--primaryColor);
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.pealple-are::before {
    content: "";
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #e5e5e5;
    opacity: 25%;
    position: absolute;
    top: 20px;
    left: 135px;
}
.pealple-are::after {
    content: "";
    display: inline-block;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #e5e5e5;
    opacity: 25%;
    position: absolute;
    bottom: -20px;
    right: -100px;
}


.peaple-are-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.peaple-are-text p {
    font-size: 2rem;
    color: white;
    font-weight: 100;
    text-align: left;
    display: inline-block;
    padding: 1rem 0;
    position: relative;
}

.peaple-are-text a {
    display: inline-block;
    color: white;
    font-weight: 200;
    text-align: left;
    margin: 1.5rem;
}

.peaple-are-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}

.peaple-are-cards::before {
    content: "";
    display: inline-block;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-color: #e5e5e5;
    opacity: 25%;
    position: absolute;
    top: 100px;
    left: -100px;
}

.peaple-are-cardsBox {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    color: black;
    z-index: 1;
}


.peaple-are-cardsBox p {
    text-align: left;
    line-height: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.peaple-are-box-img {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.peaple-are-box-img p {
    margin: 0;
    color: var(--secondColor);
}

.peaple-are-text  p {
    position: relative;
}

.peaple-are-text  p::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* footer */

.footer-text img,
.footer-text p {
    margin-bottom: 2.5rem;
}

.footer-ul  {
    margin-bottom: 2rem;
}

.footer-ul li {
    margin-bottom: 1.5rem;
}

.footer-destaque a {
    color: var(--secondColor);
}
    
.social-contacts  {
    background-color: var(--primaryColor);
    padding: 1rem;
    border-radius: 5px;
}